/* Add CSS Styling */

.unique1 {
    color: white;
    background-color: black;
}

.unique2 {
    background-color: yellow;
}

.unique1, .unique2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}